In [4]:
import pandas as pd

In [5]:
# Read in CSV file
pd.read_csv("data.csv")

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (2,3,6,13) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,C_YEAR,C_MNTH,C_WDAY,C_HOUR,C_SEV,C_VEHS,C_CONF,C_RCFG,C_WTHR,...,V_ID,V_TYPE,V_YEAR,P_ID,P_SEX,P_AGE,P_PSN,P_ISEV,P_SAFE,P_USER
0,4860406,2011,10,6,16,2,1,04,01,1,...,01,01,2003,01,M,24,11,1,02,1
1,4860407,2011,10,6,16,2,1,04,01,1,...,01,01,2003,02,M,09,31,2,02,2
2,4860408,2011,10,6,16,2,1,04,01,1,...,01,01,2003,03,F,07,22,2,02,2
3,4860409,2011,10,6,14,2,2,UU,UU,1,...,01,01,2007,01,M,50,11,1,02,1
4,4860410,2011,10,6,14,2,2,UU,UU,1,...,01,01,2007,02,M,15,13,1,02,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,5860401,2014,UU,U,UU,2,UU,UU,01,U,...,13,07,UUUU,01,M,24,11,1,NN,1
999996,5860402,2014,UU,U,23,2,01,06,05,1,...,1,14,2006,01,M,29,96,2,09,5
999997,5860403,2014,UU,U,14,2,01,02,01,1,...,1,01,2006,01,F,UU,11,2,01,1
999998,5860404,2014,UU,U,22,1,01,06,01,2,...,1,22,UUUU,01,M,67,12,3,01,U
999999,5860405,2014,UU,U,22,1,01,06,01,2,...,1,22,UUUU,02,M,10,98,1,01,U

In [ ]:
# Data cleaning: P_ISEV

In [ ]:
# Data cleaning: P_SEX

In [ ]:
# Data cleaning: C_MNTH

In [ ]:
# Data cleaning: C_WDAY

In [ ]:
# Data cleaning: C_HOUR

In [ ]:
# Data cleaning: C_VEHS

In [ ]:
# Data cleaning: C_CONF

In [ ]:
# Data cleaning: C_RCFG

In [ ]:
# Data cleaning: C_WTHR

In [ ]:
# Data cleaning: C_RSUR

In [ ]:
# Data cleaning: C_RALN

In [2]:
# Data cleaning: C_TRAF

In [3]:
# Data cleaning: V_ID

In [ ]:
# Data cleaning: V_TYPE

In [ ]:
# Data cleaning: V_YEAR

In [ ]:
# Data cleaning: P_ID

In [ ]:
# Data cleaning: P_PSN

In [ ]:
# Data cleaning: P_SAFE

In [ ]:
# Data cleaning: P_USER

In [ ]:
# Data cleaning: P_AGE

In [ ]:
# Write cleaned data to CSV