In [4]:
import pandas as pd

In [34]:
# Read in CSV file
data = pd.read_csv("data.csv")

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (2,3,6,13) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# Data Cleaning

In [35]:
# Data cleaning: P_ISEV
data = data[data['P_ISEV'] != "N"]
data = data[data['P_ISEV'] != "U"]
data = data[data['P_ISEV'] != "X"]
data[data['P_ISEV'] == 1 ] = 0
data[data['P_ISEV'] == 2 ] = 1
data[data['P_ISEV'] == 3 ] = 1
data

,Unnamed: 0,C_YEAR,C_MNTH,C_WDAY,C_HOUR,C_SEV,C_VEHS,C_CONF,C_RCFG,C_WTHR,...,V_ID,V_TYPE,V_YEAR,P_ID,P_SEX,P_AGE,P_PSN,P_ISEV,P_SAFE,P_USER
0,4860406,2011,10,6,16,2,1,04,01,1,...,01,01,2003,01,M,24,11,1,02,1
1,4860407,2011,10,6,16,2,1,04,01,1,...,01,01,2003,02,M,09,31,2,02,2
2,4860408,2011,10,6,16,2,1,04,01,1,...,01,01,2003,03,F,07,22,2,02,2
3,4860409,2011,10,6,14,2,2,UU,UU,1,...,01,01,2007,01,M,50,11,1,02,1
4,4860410,2011,10,6,14,2,2,UU,UU,1,...,01,01,2007,02,M,15,13,1,02,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,5860401,2014,UU,U,UU,2,UU,UU,01,U,...,13,07,UUUU,01,M,24,11,1,NN,1
999996,5860402,2014,UU,U,23,2,01,06,05,1,...,1,14,2006,01,M,29,96,2,09,5
999997,5860403,2014,UU,U,14,2,01,02,01,1,...,1,01,2006,01,F,UU,11,2,01,1
999998,5860404,2014,UU,U,22,1,01,06,01,2,...,1,22,UUUU,01,M,67,12,3,01,U
999999,5860405,2014,UU,U,22,1,01,06,01,2,...,1,22,UUUU,02,M,10,98,1,01,U

In [36]:
# Data cleaning: P_SEX
data = data[data['P_SEX'] != "N"]
data = data[data['P_SEX'] != "U"]

In [37]:
# Data cleaning: C_MNTH
data = data[data['C_MNTH'] != "UU"]
data = data[data['C_MNTH'] != "XX"]

In [38]:
# Data cleaning: C_WDAY
data = data[data['C_WDAY'] != "U"] 
data = data[data['C_WDAY'] != "X"]

In [39]:
# Data cleaning: C_HOUR
data = data[data['C_HOUR'] != "UU"]
data = data[data['C_HOUR'] != "XX"]
# Make colliosn hour group categories
data['C_HOUR'] = pd.to_numeric(data['C_HOUR'])
data['C_HOUR'] = pd.cut(data['C_HOUR'], bins=[0,3,6,9,12,15,18,21,23,float('inf')], right=False)

In [40]:
data

,Unnamed: 0,C_YEAR,C_MNTH,C_WDAY,C_HOUR,C_SEV,C_VEHS,C_CONF,C_RCFG,C_WTHR,...,V_ID,V_TYPE,V_YEAR,P_ID,P_SEX,P_AGE,P_PSN,P_ISEV,P_SAFE,P_USER
0,4860406,2011,10,6,"[15.0, 18.0)",2,1,04,01,1,...,01,01,2003,01,M,24,11,1,02,1
1,4860407,2011,10,6,"[15.0, 18.0)",2,1,04,01,1,...,01,01,2003,02,M,09,31,2,02,2
2,4860408,2011,10,6,"[15.0, 18.0)",2,1,04,01,1,...,01,01,2003,03,F,07,22,2,02,2
3,4860409,2011,10,6,"[12.0, 15.0)",2,2,UU,UU,1,...,01,01,2007,01,M,50,11,1,02,1
4,4860410,2011,10,6,"[12.0, 15.0)",2,2,UU,UU,1,...,01,01,2007,02,M,15,13,1,02,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999971,5860377,2014,12,7,"[12.0, 15.0)",2,02,41,01,1,...,2,05,2008,01,M,44,11,1,02,1
999972,5860378,2014,12,7,"[12.0, 15.0)",2,02,41,01,1,...,2,05,2008,02,M,34,13,2,02,2
999973,5860379,2014,12,7,"[18.0, 21.0)",2,01,03,01,1,...,1,01,2001,01,F,35,11,2,02,1
999974,5860380,2014,12,7,"[18.0, 21.0)",2,01,03,01,1,...,1,01,2001,02,M,26,13,1,02,2
999975,5860381,2014,12,7,"[18.0, 21.0)",2,01,03,01,1,...,1,01,2001,03,F,15,21,2,02,2

In [ ]:
# Data cleaning: C_VEHS
data = data[data['C_VEHS'] != "UU"]
data = data[data['C_VEHS'] != "XX"]
# Make vehicle collided group categories rather than usuing indidvidual number of cars in collision
data['C_VEHS'] = pd.to_numeric(data['C_VEHS'])

data$C_VEHS[data$C_VEHS >= 1 & data$C_VEHS <= 5] = 1
data$C_VEHS[data$C_VEHS >= 6 & data$C_VEHS <= 25] = 6
data$C_VEHS[data$C_VEHS >= 26] = 26

In [ ]:
# Data cleaning: C_CONF
data = data[data['C_CONF'] != "QQ"]
data = data[data['C_CONF'] != "UU"]
data = data[data['C_CONF'] != "XX"]
data['C_CONF'] = pd.to_numeric(data['C_CONF'])

# Combine all categories for single vehicle in motion
data$C_CONF[data$C_CONF >= 1 & data$C_CONF <= 6] = 1
# Combine all categories for two vehicles in motion (same direction of travel)
data$C_CONF[data$C_CONF >= 21 & data$C_CONF <= 25] = 21
# Combine all categories for two vehicles in motion (different direction of travel)
data$C_CONF[data$C_CONF >= 31 & data$C_CONF <= 36] = 31

In [ ]:
# Data cleaning: C_RCFG
data = data[data['C_RCFG'] != "QQ"]
data = data[data['C_RCFG'] != "UU"] 
data = data[data['C_RCFG'] != "XX"]

In [ ]:
# Data cleaning: C_WTHR
data = data[data['C_WTHR'] !=  "Q"]
data = data[data['C_WTHR'] !=  "U"]
data = data[data['C_WTHR'] !=  "X"]

In [ ]:
# Data cleaning: C_RSUR
data = data[data['C_RSUR'] !=  "Q"]
data = data[data['C_RSUR'] !=  "U"]
data = data[data['C_RSUR'] !=  "X"]

In [ ]:
# Data cleaning: C_RALN 
data = data[data['C_RALN'] != "Q"] 
data = data[data['C_RALN'] != "U"] 
data = data[data['C_RALN'] != "X"]

In [2]:
# Data cleaning: C_TRAF 
data = data[data['C_TRAF'] != "QQ"]
data = data[data['C_TRAF'] != "UU"]
data = data[data['C_TRAF'] != "XX"]
data['C_TRAF'] = pd.to_numeric(data['C_TRAF'])

# Group traffic signals together
data$C_TRAF[data$C_TRAF >= 1 & data$C_TRAF <= 2] = 1
# Group signs together
data$C_TRAF[data$C_TRAF >= 3 & data$C_TRAF <= 5] = 3
# Group schools together
data$C_TRAF[data$C_TRAF >= 8 & data$C_TRAF <= 9] = 8
# Group no passing and low speed zones
data$C_TRAF[data$C_TRAF >= 10 & data$C_TRAF <= 12] = 10
# Group school bus together
data$C_TRAF[data$C_TRAF >= 13 & data$C_TRAF <= 14] = 13
# Group railway crossings together
data$C_TRAF[data$C_TRAF >= 15 & data$C_TRAF <= 16] = 15

In [3]:
# Data cleaning: V_ID 
data = data[data['V_ID' != "UU"]

In [ ]:
# Data cleaning: V_TYPE
data = data[data['V_TYPE'] != "QQ"] 
data = data[data['V_TYPE'] != "UU"] 
data = data[data['V_TYPE'] != "NN"] 
data['V_TYPE'] = pd.to_numeric(data['V_TYPE'])

# Group trucks together
data$V_TYPE[data$V_TYPE >= 5 & data$V_TYPE <= 7] = 5
# Group busses together
data$V_TYPE[data$V_TYPE >= 9 & data$V_TYPE <= 11] = 9

In [ ]:
# Data cleaning: V_YEAR
data = data[data['V_YEAR'] != "NNNN"] 
data = data[data['V_YEAR'] != "UUUU"] 
data = data[data['V_YEAR'] != "QQQQ"]
# Make vehicle year group categories rather than using indidvidual years
data['V_YEAR'] = pd.to_numeric(data['V_YEAR'])

data$V_YEAR[data$V_YEAR > 1900 & data$V_YEAR <= 1950] = 1901
data$V_YEAR[data$V_YEAR > 1950 & data$V_YEAR <= 1980] = 1951
data$V_YEAR[data$V_YEAR > 1980 & data$V_YEAR <= 1990] = 1981
data$V_YEAR[data$V_YEAR > 1990 & data$V_YEAR <= 2000] = 1991
data$V_YEAR[data$V_YEAR > 2000 & data$V_YEAR <= 2010] = 2001
data$V_YEAR[data$V_YEAR > 2010] = 2011

In [ ]:
# Data cleaning: P_ID
data = data[data['P_ID'] != "NN"]
data = data[data['P_ID'] != "UU"]

In [ ]:
# Data cleaning: P_PSN
data = data[data['P_PSN'] != "NN"]
data = data[data['P_PSN'] != "QQ"]
data = data[data['P_PSN'] != "UU"]
data = data[data['P_PSN'] != "XX"]
# Make person position categories
data['P_PSN'] = pd.to_numeric(data['P_PSN'])
# 96 is position unknown so get rid of rows with this
data = data[data$P_PSN != 96,]
# First row of vehicle
data$P_PSN[data$P_PSN >= 11 & data$P_PSN <= 13] = 11
# Second row of vehicle
data$P_PSN[data$P_PSN >= 21 & data$P_PSN <= 23] = 21
# Third row of vehicle
data$P_PSN[data$P_PSN >= 31 & data$P_PSN <= 33] = 31

In [ ]:
# Data cleaning: P_SAFE
data = data[data['P_SAFE'] != "NN"]
data = data[data['P_SAFE'] != "QQ"]
data = data[data['P_SAFE'] != "UU"]
data = data[data['P_SAFE'] != "XX"]

In [ ]:
# Data cleaning: P_USER
data = data[data['P_USER'] != "U"]

In [ ]:
# Data cleaning: P_AGE
data = data[data['P_AGE'] != "NN"]
data = data[data['P_AGE'] != "UU"]
data = data[data['P_AGE'] != "XX"]
# Store curernt dataset for use below
dataAgeNotGrouped = data
# Make age-group categories rather than usuing indidvidual ages
data['P_AGE'] = pd.to_numeric(data['P_AGE'])

data$P_AGE[data$P_AGE > 0 & data$P_AGE <= 10] = 1
data$P_AGE[data$P_AGE > 10 & data$P_AGE <= 20] = 11
data$P_AGE[data$P_AGE > 20 & data$P_AGE <= 30] = 21
data$P_AGE[data$P_AGE > 30 & data$P_AGE <= 40] = 31
data$P_AGE[data$P_AGE > 40 & data$P_AGE <= 50] = 41
data$P_AGE[data$P_AGE > 50 & data$P_AGE <= 60] = 51
data$P_AGE[data$P_AGE > 60 & data$P_AGE <= 70] = 61
data$P_AGE[data$P_AGE > 70 & data$P_AGE <= 80] = 71
data$P_AGE[data$P_AGE > 80 & data$P_AGE <= 90] = 81
data$P_AGE[data$P_AGE > 90] = 91

In [ ]:
# Write cleaned data to CSV